.workspaces-container {
    background: #FFFFFF;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workspaces-container h1 {
    font-size: 2rem;
}

.workspaces-container .workspaces-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.workspaces-container .workspace-item {
    background: #F0F0F0;
    padding: 1rem;
    border-radius: 0.5rem;
    width: calc(20% - 1.5rem);
    height: 12rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
}

.workspaces-container .workspace-item:hover {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.workspace-dev-options {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    margin-top: 0.5rem;
}

@media(max-width: 1400px) {
    .workspaces-container .workspace-item {
        width: calc(25% - 1.5rem);
    }
}

@media(max-width: 1200px) {
    .workspaces-container .workspace-item {
        width: calc(33% - 1.5rem);
    }
}

@media(max-width: 900px) {
    .workspaces-container .workspace-item {
        width: calc(50% - 1.5rem);
    }
}

@media(max-width: 600px) {
    .workspaces-container .workspace-item {
        width: 100%;
    }
}